// Colors
// $color-airbnb:#ff5b60;
// $color-icon-slide:#7f7f7f;
// $color-estribillo-evaluaciones:#00a699;
// $color-boton-ganar:#00a699;
// $color-gris-oscuro:#525252;
// $color-gris-claro:#6a6a6a;
// $color-subtitulos:#484848;
// $color-footer:#767676;

$blanco: #fff;
$negro: #000;
$otro: rgba(0,0,0,0.9);

$color_gravel_approx: #484848;
$white: #fff;
$alto: #dbdbdb;
$color_teal_approx: #00848b;
$color_tradewind_approx: #62b3b7;
$gray: gray;
$color_carnation_approx: #ff5a5f;